.App-container {
  background-color: white;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.nav-item {
  margin-right: 12px;
}

.nav-link.active {
  color: #dc3545 !important;
  text-decoration: underline;
}

.nav-item:hover {
  color: #dc354599;
  text-decoration: underline;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 580px) {
  .text-ellipsis {
    max-width: 150px;
  }
}