.App-container {
  background-color: white;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.nav-item {
  margin-right: 12px;
}